@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    min-width: 1200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
}

address,
p {
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.container {
    width: 1200px;
}

.skip-nav:focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: center;
    background-color: #ffd217;
    color: #111;
    line-height: 35px;
    font-weight: bold;
}

#header {
    height: 110px;
    border-top: 3px solid #ffd217;
    background-color: #fff;
}

#header .logo {
    float: left;
    margin-top: 25px;
    margin-bottom: 0;
}

#header .logo img {
    vertical-align: top;
}

#header .logo h1 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

#header .logo h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#header .logo h2:before {
    position: relative;
    top: -3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    content: '|';
    color: #555;
}

#header .logo h2 a {
    font-size: 15px;
    color: #000;
    font-weight: normal;
}

#header #gnb {
    float: right;
    height: 100%;
}

#header #gnb > ul > li {
    position: relative;
    float: left;
    margin-left: 50px;
}

#header #gnb > ul > li:first-child {
    margin-left: 0;
}

#header #gnb > ul > li > a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    line-height: 107px;
}

#header #gnb > ul > li > ul {
    display: none;
    position: absolute;
    top: 107px;
    left: 50%;
    margin-left: -90px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
}

#header #gnb > ul > li > ul > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
}

#header #gnb > ul > li > ul > li > a:focus,
#header #gnb > ul > li > ul > li > a:hover {
    color: #ffd217;
}

#header #gnb > ul > li.has-child:focus,
#header #gnb > ul > li.has-child:hover,
#header #gnb > ul > li.has-child.active {
    background-image: url(/assets/images/img_gnb_caret.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

#header #gnb > ul > li.has-child:focus > ul,
#header #gnb > ul > li.has-child:hover > ul,
#header #gnb > ul > li.has-child.active > ul {
    display: block;
}
.main-visual > .main {
    height: 650px;
    background-image: url(/assets/images/main_visual.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 132px;
}
.main-visual > .main > .container {
    padding: 0 15px !important;
    position: relative;
}
.main-visual > .main > .container > .section-header > h1 {
    font-size: 60px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: center;
}
.main-visual > .main > .container > .section-header > h1 > i {
    font-style: normal;
    color: #ffd217;
}
.main-visual > .main > .container > .section-header > hr {
    position: absolute;
    left: 46%;
    text-align: center;
    display: inline-block;
    width: 91px;
    border: 2px solid #fff;
    display: inline-block;
    margin: 46px 0 0 0;
}
.main-visual > .main > .container > .section-content {
    margin-top: 90px;
}
.main-visual > .main > .container > .section-content > p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
}
.main-visual > .main > .container > .section-content > p > small {
    opacity: 0.6;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
    display: inline-block;
}
.main-visual > .main > .container > .section-content > .btn-area {
    margin-top: 57px;
    text-align: center;
}
.main-visual > .main > .container > .section-content > .btn-area > p > .btn {
    font-size: 16px;
    color: #fff !important;
    font-weight: 400;
    width: 254px;
    height: 65px;
    border: 3px solid #fff;
    background:rgba(0,0,0,0.0);
    padding: 8px 0;
}
.main-visual > .main > .container > .section-content > .btn-area > p > .btn:nth-of-type(1) {
    margin-right: 10px;
}
.main-visual > .index-notice {
    background-color: #f0c413;
    padding: 25px 0;
}
.main-visual > .index-notice > .container {
    padding: 0 15px !important;
}
.main-visual > .index-notice > .container > ul {
    overflow: hidden;
}
.main-visual > .index-notice > .container > ul > li {
    display: inline-block;
    float: left;
    border-right: 1px solid #d1ab11;
    width: 387px;
    color: #333;
    padding: 19px 45px;
}
.main-visual > .index-notice > .container > ul > li:last-child {
    border-right: 0;
}
.main-visual > .index-notice > .container > ul > li > h3 {
    font-size: 20px;
    color: #333;
    margin: 0 0 20px 0;
    padding: 0;
    background-image: url(/assets/images/plus_bg.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.main-visual > .index-notice > .container > ul > li > h3 > a {
    color: #333;
    width: 296px;
    display: inline-block;
    text-decoration: none;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) {
    background-image: url(/assets/images/coll_bg.png);
    background-repeat: no-repeat;
    background-position: 272px 120px;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) > h3 {
    background: none;
    margin-bottom: 10px;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) > p {
    font-size: 14px;
    color: #333;
    margin-bottom: 60px;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) > .inline-dl {
    overflow: hidden;
    margin-bottom: 10px;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) > .inline-dl > dt {
    float: left;
    clear: both;
    font-size: 22px;
    color: #333;
    font-weight: 400;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) > .inline-dl > dt:after {
    content: ".";
    padding: 0 5px 0 0;
}
.main-visual > .index-notice > .container > ul > li:nth-of-type(2) > .inline-dl > dd {
    float: left;
    font-size: 22px;
    color: #333;
    font-weight: 400;
}
.main-visual > .index-notice > .container > ul > li > ul {
    vertical-align: top;
}
.main-visual > .index-notice > .container > ul > li > ul > li {
    position: relative;
    padding-left: 10px;
    line-height: 28px;
    width: 295px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-visual > .index-notice > .container > ul > li > ul > li > a {
    font-size: 14px;
    color: #444;
}
.main-visual > .index-notice > .container > ul > li > ul > li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
}
.jumbo-wall {
    height: 205px;
    background-color: #fff;
    background-image: url(/assets/images/visual_bg01.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.jumbo-wall p {
    margin-top: 75px;
    font-size: 25px;
    color: #fff;
}

.jumbo-wall p small {
    font-size: 17px;
    color: rgba(235, 235, 235, 0.75);
}
.jumbo-wall p small i {
    font-style: normal;
    font-weight: bold;
    color: rgba(235, 235, 235, 0.75);
}
.page-nav {
    height: 65px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}

.page-nav .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    height: 64px;
    line-height: 64px;
    background-color: #fff;
    border-radius: 0;
}

.page-nav .breadcrumb > li {
    float: left;
    color: #555;
    font-size: 15px;
}

.page-nav .breadcrumb > li > a {
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    border-left: 1px solid #eaeaea;
    text-align: center;
    color: #555;
}

.page-nav .breadcrumb > li:before {
    padding: 0;
    content: none;
}

.page-nav .breadcrumb > li.active {
    padding-left: 80px;
    padding-right: 80px;
}

.page-nav .breadcrumb > li.active.dropdown {
    padding-left: 0;
    padding-right: 0;
}

.page-nav .breadcrumb > li.dropdown .dropdown-menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border-color: #eaeaea;
}

.page-nav .breadcrumb > li.dropdown .dropdown-menu li a {
    padding: 0;
    height: 65px;
    line-height: 64px;
    border-top: 1px solid #eaeaea;
    text-align: center;
    font-size: 15px;
    color: #555;
}

.page-nav .breadcrumb > li.dropdown .dropdown-menu li a:hover,
.page-nav .breadcrumb > li.dropdown .dropdown-menu li a:focus {
    background-color: #ffd217;
}

.page-nav .breadcrumb > li.dropdown .dropdown-menu li:first-child a {
    border-top: 0;
}

.page-nav .breadcrumb > li:first-child > a {
    padding-left: 0;
    padding-right: 0;
    min-width: 65px;
    height: 100%;
}

.page-nav .breadcrumb > li:first-child > a:hover,
.page-nav .breadcrumb > li:first-child > a:focus {
    opacity: .85;
}

.page-nav .breadcrumb > li:last-child > a {
    border-right: 1px solid #eaeaea;
}

#content {
    min-height: 100px;
    background-color: #fff;
}
#content .container {
    padding: 75px 15px 100px;
}
#footer hr {
    margin-top: 0;
    margin-bottom: 0;
    color: #eee;
}
#footer .container {
    height: 150px;
    position: relative;
}

#footer .container .privacy-email {
    margin-top: 40px;
}

#footer .container .privacy-email li {
    display: inline-block;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 400;
}
#footer .container .privacy-email li a {
    color: #444;
}
#footer .container .privacy-email li:first-child:before {
    content: "";
    padding: 0;
}
#footer .container .privacy-email li:before {
    content: "|";
    padding-right: 20px;
    color: #ccc;
}

#footer .container .info {
    margin-top: 23px;
    color: #9c9c9c;
    font-size: 14px;
    line-height: 22px;
}

#footer .container .info li {
    display: inline-block;
}

#footer .container .info li:before {
    position: relative;
    top: -2px;
    padding-left: 5px;
    padding-right: 5px;
    content: '|';
    font-size: 10px;
}

#footer .container .info li:first-child:before {
    padding-left: 0;
    padding-right: 0;
    content: '';
}

#footer .container .rights {
    color: #9c9c9c;
    font-size: 14px;
    line-height: 22px;
}

#footer .container .rights a {
    color: #ababab;
}

#footer .container .campus-sites,
#footer .container .department-sites {
    position: absolute;
    top: 55px;
    width: 170px;
}

#footer .container .campus-sites .btn,
#footer .container .department-sites .btn {
    padding-left: 20px;
    padding-right: 20px;
    width: 170px;
    height: 45px;
    border-radius: 0;
    border: 0;
    background-color: #a8a8a8;
    color: #fff;
    text-align: left;
    line-height: 33px;
}

#footer .container .campus-sites .btn span,
#footer .container .department-sites .btn span {
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 12px;
}

#footer .container .campus-sites .btn:focus,
#footer .container .campus-sites .btn:hover,
#footer .container .department-sites .btn:focus,
#footer .container .department-sites .btn:hover {
    opacity: 0.8;
}

#footer .container .campus-sites .dropdown-menu,
#footer .container .department-sites .dropdown-menu {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 100%;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background-color: #a8a8a8;
}

#footer .container .campus-sites .dropdown-menu,
#footer .container .department-sites .dropdown-menu:nth-of-type(1) {
    margin-right
}

#footer .container .campus-sites .dropdown-menu li,
#footer .container .department-sites .dropdown-menu li {
    margin-right: 0;
}

#footer .container .campus-sites .dropdown-menu li a,
#footer .container .department-sites .dropdown-menu li a {
    line-height: 30px;
    color: #fff;
}

#footer .container .campus-sites .dropdown-menu li a:hover,
#footer .container .campus-sites .dropdown-menu li a:focus,
#footer .container .department-sites .dropdown-menu li a:hover,
#footer .container .department-sites .dropdown-menu li a:focus {
    background-color: #666;
}

#footer .container .campus-sites {
    right: 195px;
}

#footer .container .department-sites {
    right: 15px;
}


/*# sourceMappingURL=default.css.map */
